<!-- Navigition -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="opened=!opened">menu</mat-icon>
    </button>
    <h1>Thor Movie<mat-icon>movie</mat-icon>
    </h1>
    <span class="menu-spacer"></span>

    <div>
      <a mat-button [routerLink]="'/homes'" routerLinkActive="active homes">
        <mat-icon>home icon</mat-icon> Home
      </a>
      <a mat-button [routerLink]="'/moviemanagements'" routerLinkActive="active">
        <mat-icon>theaters icon</mat-icon> Movie Management
      </a>
      <a mat-button [routerLink]="'/managemovieshowtimes'" routerLinkActive="active">
        <mat-icon> insert_invitation</mat-icon> Manage Movie Showtimes
      </a>
      <a mat-button [routerLink]="'/billmanagement'" routerLinkActive="active">
        <mat-icon>event_note</mat-icon> Bill Management
      </a>
      <a mat-button [routerLink]="'/customers'" routerLinkActive="active">
        <mat-icon>people</mat-icon> Customers
      </a>
      <a mat-raised-button color="accent" [routerLink]="'/signup'">Sign Up</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Sidebar -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav [(opened)]="opened">
    <mat-nav-list>
      <h3>Sidebar Contents</h3>
      <ul>
        <li><a routerLink="/homes">Home</a></li>
        <li><a routerLink="/posts">Post</a></li>
        <li><a routerLink="/moviemanagements">Movie Management</a></li>
        <li><a routerLink="/homes">Manage Movie Showtimes</a></li>
        <li><a routerLink="/homes">Bill Management</a></li>
        <li><a routerLink="/homes">Customers</a></li>
        <li><a routerLink="/">Content</a></li>
      </ul>

      <a mat-list-item (click)="opened=!opened" href="" mat-list-item>
        <mat-icon>exit_to_app</mat-icon> Close
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>